@using GraduateProject.Domain.Core
@model User

<h2>Login</h2>
@if (Model != null)
{
    <div class="alert alert-danger" role="alert">
        <h1>@Model.Login</h1> you are already logged in.
    </div>
}
else
{
    <form method="post">
        <div class="form-group">
            <label for="Login">Login</label>
            <input type="text" class="form-control" id="Login" name="Login" asp-for="Login" required />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" required />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
}