@using GraduateProject.Domain.Core
@model IEnumerable<Book>
@{
    
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our books</p>
@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <p>@item.Description</p>
        <p>@item.Price</p>
    </div>
}